html,body {;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

body:after{
	width:100%;
	height:100%;
	content:"";
	background:url('P10.jpg');
	opacity:0.15;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:-1;
}


h1   {color: #00b; text-decoration:underline; font-family:arial;}
h2   {color: #00b; font-family:arial;} 
h3	 {color: #00b; text-decoration:underline; font-family:arial;}

p    {color: black;}
p    {margin: 10px;}
p    {font-family:arial;} 


center{
	max-width:900px;
	margin:0 auto;`
}

a{
	border-bottom:2px solid #00b;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
	text-decoration:none;
	color:#00b;
}

a:hover{
	border-bottom:2px solid #0a0;
	color:#0a0;
}



